<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dadoutek.uled">
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".tellink.TelinkLightApplication"
        android:allowBackup="true"
        android:icon="@drawable/new_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".othersview.HumanBodySensorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".user.EnterConfirmationCodeActivity"/>
        <activity android:name=".othersview.NetworkActivity" />
        <activity android:name=".user.EnterPasswordActivity" />
        <activity android:name=".user.AgainEnterPasswordActivity" />
        <activity
            android:name=".othersview.InstructionsForUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.OTASwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connector.ConnectorBatchGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".windowcurtains.CurtainBatchGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rgb.RgbBatchGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OTAConnectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connector.ConnectorGroupingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.SwitchSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OTAUpdateSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.BatchGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connector.ConnectorOfGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connector.ConnectorSettingActivity"
            android:theme="@style/FullHeightDialogNew" />
        <activity
            android:name=".connector.ConnectorDeviceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connector.ScanningConnectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.SensorDeviceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".windowcurtains.CurtainsDeviceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.SwitchDeviceDetailsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dadoutek.uled.selfupdate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xiaomi_update_sdk_file_paths" />
        </provider>

        <service
            android:name=".tellink.TelinkLightService"
            android:enabled="true" />
        <service
            android:name=".service.SendLightsInfo"
            android:enabled="true" />

        <activity
            android:name=".othersview.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".othersview.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.NormalSettingActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".activity.DeviceScanningActivity" -->
        <!-- android:label="@string/activity_device_scanning_label" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- /> -->
        <activity
            android:name=".othersview.DeviceBatchScanningActivity"
            android:label="@string/activity_device_scanning_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.AddMeshActivity"
            android:label="@string/activity_mesh_add_lable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.LightGroupingActivity"
            android:label="@string/activity_device_grouping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.AddGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OtaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OtaDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.BatchOtaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.LogInfoActivity"
            android:screenOrientation="portrait" />
        <!--
             <activity
             android:name=".activity.OTAPrepareActivity"
             android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ota.OTAUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.FileSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.UserAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.OnlineStatusTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QRCodeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.RenameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.RenameLightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.SelectDeviceTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.ScanningSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.ConfigNormalSwitchActivity"
            android:label="@string/title_activity_switch_group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.LightsOfGroupActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".scene.SetSceneAct" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".switches.ConfigSceneSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.PhoneVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ForgetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.DeviceScanningNewActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".scene.ChangeSceneAct" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".light.EmptyAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ManagerVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pir.ConfigSensorAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.AboutSomeQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pir.ScanningSensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rgb.RGBSettingActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".rgb.SelectColorActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".rgb.RGBGradientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.ScanningNightlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.NewSceneSetAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".othersview.SelectColorAct"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".light.ConfigNightlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rgb.SetDiyColorAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.DeviceDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.ConfigCurtainSwitchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".curtain.CurtainScanningNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.CurtainGroupingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".rgb.SelectColorGradientAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.DeviceResetGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tellink.TelinkBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".windowcurtains.WindowCurtainsActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".windowCurtains.WindowCurtainsActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- /> -->
        <activity
            android:name=".curtain.CurtainOfGroupActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>