<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dadoutek.uled">

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".tellink.TelinkLightApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dadoutek.uled.selfupdate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xiaomi_update_sdk_file_paths" />
        </provider>

        <service
            android:name=".tellink.TelinkLightService"
            android:enabled="true" />

        <activity
            android:name=".othersview.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".othersview.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.NormalSettingActivity"
            android:theme="@style/FullHeightDialogNew"
            />
        <!-- <activity -->
        <!-- android:name=".activity.DeviceScanningActivity" -->
        <!-- android:label="@string/activity_device_scanning_label" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- /> -->
        <activity
            android:name=".othersview.DeviceBatchScanningActivity"
            android:label="@string/activity_device_scanning_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.AddMeshActivity"
            android:label="@string/activity_mesh_add_lable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.LightGroupingActivity"
            android:label="@string/activity_device_grouping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.AddGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OtaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.OtaDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ota.BatchOtaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.LogInfoActivity"
            android:screenOrientation="portrait" />
        <!--
             <activity
             android:name=".activity.OTAPrepareActivity"
             android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ota.OTAUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.FileSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.UserAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.OnlineStatusTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QRCodeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.RenameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.RenameLightActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".othersview.SelectDeviceTypeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".switches.ScanningSwitchActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".switches.ConfigNormalSwitchActivity"
            android:label="@string/title_activity_switch_group"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".light.LightsOfGroupActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".scene.SetSceneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".switches.ConfigSceneSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".user.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".user.PhoneVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ForgetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.DeviceScanningNewActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
        <!--android:name=".scene.ChangeSceneAct"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".light.EmptyAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ManagerVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pir.ConfigSensorAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othersview.AboutSomeQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pir.ScanningSensorActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".rgb.RGBSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rgb.SelectColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rgb.RGBGradientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.ScanningLightlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".light.ConfigLightlightActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>